 {% load static %}
<!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    -->

<script src="{% static 'lib/jquery.min.js' %}"></script>
<script src="{% static 'lib/bootstrap.min.js' %}"></script>
<script src="{% static 'lib/jquery-confirm.js' %}"></script>
<script src="{% static 'lib/common.js' %}"></script>


<script type="text/javascript">
    $(document).ready(function() {
        word = window.location.pathname.split('/')[1];
        if (window.location.pathname == "/" || word == 'translator') {
            $(".translator").addClass('active')
        } else if (word.search('validator') != -1) {
            $('.validator').addClass('active')
        } else {
            $('.dictionary').addClass('active')
        }
    });
</script>