{% extends 'user_words/index.html' %}
<!-- ============================== Dictionary ============================== -->
{% block content %}
<div class='DictSearch'>
    <!-- <form action="" method="post"> -->
        {{ search_input_form }}
        <button type='button' class='btn_search'></button>
    <!-- </form> -->
    <div id="wordDict_help_popup"></div>
</div>
<div id="dict_menu_bar">
    <a href="/dictionary" id="view_dict_area">Dictionary</a>
    
    {% if request.user.is_authenticated %}
    <a href="#" id="view_add_word">Add Words</a>
    {% endif %}
    {% if request.user.is_staff %}
    <a href="#" id="view_user_dict">User Dictionary</a>
    {% endif %}
</div>
{% csrf_token %}
<div id="content_add_words" style="text-align: -webkit-center;">
    <div class="add_words">
        <!-- <form action="" method="post"> -->
            Translate from {{ add_words_form.s_lang}} to {{ add_words_form.t_lang}}
            <div> Vocabulary: {{ add_words_form.Vocabulary}} type <button id="btn_vtype" class=''>please select</button>(can select more than 1 item)</div>
            <div id='clear'>
                <div class='word_type'>{{ add_words_form.chk_box1 }}</div>
                <div class='word_type'>{{ add_words_form.chk_box2 }}</div>
                <div class='word_type'>{{ add_words_form.chk_box3 }}</div>
            </div>
            <div id='word_vocabulary'></div>
            <div>
                {{ add_words_form.chk_agree }}
                <label style="font-weight: normal;">
                    I have read the agreement and are happy to comply with conditions.</label>
            </div>
        <!-- </form> -->
            <button type='button' class='btn_save sky_button' disabled='true'>Submit</button>
            <div style="text-align:right;">    You can see more suggestions. About how to enter words Including various examples
        </div>
    </div>
</div>
<div id="content_user_vocabulary" style="text-align: -webkit-center;">
    <div class="list_side">
        <div style="display: flex;">
        <div>
            <input type="radio" id="Unapproved" name="allowed" value=0 checked>
            <label for="Unapproved">Unapproved</label>
        </div>
        <div style="margin-left: 15px;">
            <input type="radio" id="Approved" name="allowed" value=1>
            <label for="Approved">Approved</label>
        </div>
        </div>
        <div id="list_vocabulary"></div>
    </div>
    <div id="list_vocabulary"></div>
    <div class="add_words">
        <!-- <form action="" method="post"> -->
            <div> Vocabulary: <span id="view_word"></span></div>
            <div id='db_vocabulary'></div>
        <!-- </form> -->
            <button type='button' class='btn_approve sky_button'>Approve</button>
            <div style="text-align:right;">    You can see more suggestions. About how to enter words Including various examples
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" id="modal-title">Please Enter Example Sentence</h4>
          <input type="hidden" id='request_frm' value=""/>
        </div>
        <div class="modal-body">
            Origin Sentence
            <textarea id='first_exam'></textarea>
            Translation Sentence
            <textarea id='second_exam'></textarea>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-add">Save</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>
{% endblock content %}
<!-- =============================== -->