.DictSearch {
    border-radius: 20px;
    border: 1px solid #d2d2d2;
    background: #fff;
    position: relative;
    margin: 10px;
    box-sizing: border-box;
}
.DictSearch>input{
    font-size: x-large;
    padding: 5px 0px;
    margin-left: 20px;
    margin-right:44px;
    border: 0;
}
.DictSearch>button {
    background-color: #3f556b !important;
    color: white;
    border: 0;
    width: 44px;
    position: absolute;
    top: -1px;
    bottom: -1px;
    height: auto;
    cursor: pointer;
}
.btn_search {
    right: 0;
    border-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.btn_search::before {
    width: 1em;
    border-radius: 1em;
    transform: translate(-50%,-50%);
    border: 2px solid;
}
.btn_search::after {
    width: 2px;
    transform-origin: 0 0;
    transform: rotate(-45deg) translate(-0.5px,0.5em);
    background-color: white;
}
.btn_search::before, .btn_search::after {
    content: "";
    height: 1em;
    display: block;
    position: absolute;
    top: 45%;
    left: 40%;
}
.btn_sound{
    right:44px;
}
.btn_sound span{
    position: absolute;
    right: 10px;
    top: 8px;
    background-repeat: no-repeat;
    height: 24px!important;
    width: 24px!important;
    background-position: 0px -360px;
    color: white;
    background-image: -webkit-image-set(url(../icons/1x_mobile.png) 1x,url(../icons/2x_mobile.png) 2x);
}
#translator_dict,#translator_sentences {
    padding: 16px 32px 16px 24px;
    margin:3px;
    width:100%;
    background: white;
    display: block;
}
#translator_sentences ul {
    list-style-type: none;
    padding: 0;
}
kref {
    color:#990000
}
.dictionary_dict_area{
    width: 100%;
}