.DictSearch>input {
    margin: 0 90px 0 20px;
}
#translator_dict, .sentence_area {
    /* padding: 0px 32px 0px 24px; */
    /* margin:3px; */
    overflow: hidden;
    width:100%;
    background: white;
}
#translator_dict .content, .sentence_area .content {
    padding: 0px 24px 0px 24px;
}
#translator_dict{
    padding-top:10px;
}
.dictionary_dict_area {
    display: none;
}
.dictionary_dict_area ul {
    list-style-type: none;
    padding: 0%;
    border: 1px solid #ddd;
    background-color: snow;
    display: flex;
}
.dictionary_dict_area ul li{
    width: 50%;
    padding: 1%;
}
#more_sentences, #few_sentences {
    /* display: none; */
    background-repeat: no-repeat;
    padding-left: 5%;
    color: snow;
    width: 100%;
    background-image: url(../icons/1x_mobile.png);
    background-color: #d2d2d2;
    border: 1px solid #d2d2d2;
    transition: background-color 0.15s ease-out, color 0.15s ease-out, color 0.15s ease-out, color 0.15s ease-out, border 0.15s ease-out, color 0.15s ease-out;
}
#more_sentences:hover {
    background-color: cadetblue;
}
.sentence_area{
    position: relative;
}
.sentence_more{
    display: none;
    position: relative;
}
#more_sentences {
    background-position: 10px -217px;
}
#few_sentences {
    background-position: 10px -336px;
}
#more_sentences:hover, #few_sentences:hover {
    background-color: cadetblue;
}
kref {
    color:#990000
}
.dictionary_dict_area{
    width: 100%;
}
