.btn_search {
    right: 0;
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.btn_search::before {
    width: 1em;
    border-radius: 1em;
    transform: translate(-50%,-50%);
    border: 2px solid;
}
.btn_search::after {
    width: 2px;
    transform-origin: 0 0;
    transform: rotate(-45deg) translate(-0.5px,0.5em);
    background-color: white;
}
.btn_search::before, .btn_search::after {
    content: "";
    height: 1em;
    display: block;
    position: absolute;
    top: 45%;
    left: 40%;
}
.btn_sound{
    right:44px;
}
.btn_sound span{
    position: absolute;
    right: 10px;
    top: 13px;
    background-repeat: no-repeat;
    height: 24px!important;
    width: 24px!important;
    background-position: 0px -360px;
    color: white;
    background-image: url(../icons/1x_mobile.png);
}
#translator_dict, .sentence_area {
    /* padding: 0px 32px 0px 24px; */
    /* margin:3px; */
    overflow: hidden;
    width:100%;
    background: white;
}
#translator_dict .content, .sentence_area .content {
    padding: 0px 24px 0px 24px;
}
#translator_dict{
    padding-top:10px;
}
.dictionary_dict_area {
    display: none;
}
.dictionary_dict_area ul {
    list-style-type: none;
    padding: 0%;
    border: 1px solid #ddd;
    background-color: snow;
    display: flex;
}
.dictionary_dict_area ul li{
    width: 50%;
    padding: 1%;
}
#more_sentences, #few_sentences {
    /* display: none; */
    background-repeat: no-repeat;
    padding-left: 5%;
    color: snow;
    width: 100%;
    background-image: url(../icons/1x_mobile.png);
    background-color: #d2d2d2;
    border: 1px solid #d2d2d2;
    transition: background-color 0.15s ease-out, color 0.15s ease-out, color 0.15s ease-out, color 0.15s ease-out, border 0.15s ease-out, color 0.15s ease-out;
}
#more_sentences:hover {
    background-color: cadetblue;
}
.sentence_area{
    position: relative;
}
.sentence_more{
    display: none;
    position: relative;
}
#more_sentences {
    background-position: 10px -217px;
}
#few_sentences {
    background-position: 10px -336px;
}
#more_sentences:hover, #few_sentences:hover {
    background-color: cadetblue;
}
kref {
    color:#990000
}
.dictionary_dict_area{
    width: 100%;
}
