.container-fluid{
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
}
.header_menu_separator {
    /* margin: 0 30px 0 16px; */
    border-left: 2px solid #f1f1f1;
    float: left;
    height: 50px;
    padding: 0 5px;
    font-size: 18px;
    line-height: 20px;
}
.nav-item {
    margin: 0 30px 0 16px;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.dropdown-menu {
    line-height: 200px;
}
.main_menu{
    font-size: large;
    /* padding-top: 10px;
    padding-bottom: 10px; */
}
.normal_menu{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.close{
    font-size: 30px;
    width: 32px;
    align-self: flex-end;
}
button {
    border: none !important;
    background: transparent !important;
}
.btn{
    font-size: 20px;
}
.btn:active:focus, .btn:focus, .btn.focus{
    outline:0;
}
.language_select {
    margin:0 18%;
}
#source_menu, #target_menu {
    left: 50% !important;
}
.sides_container{
    display: flex;
}
.side_container--source {
    width:calc(50% - 2px);
}
.side_container--target {
    width:calc(50% - 2px);
    margin-left:5px;
}
textarea{
    padding: 16px 32px 70px 24px;
    color: #333;
    line-height: 1.5;
    min-height: 400px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;    
    display: inline-block;
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    border: none;
    background-color: transparent;
    background: transparent;
    vertical-align: top;
    text-align: left;
    font-size: 22px;
    position: relative;
    resize: none;
}
textarea::placeholder {
    font-size: xx-large;
    color:#ddd;
}
.clear_text_button {
    top: 4px;
    right: 6px;
    color: #D1D2D4;
    position: absolute;
    font-size: 30px;
    font-weight: 400;
    width: 24px;
    height: 24px;
    outline: none;
    border: none;
    background-color: transparent;
}
.clear_text_button span {
    display: inline-block;
    position: absolute;
    top: -3px;
    right: -3px;
    height: 26px;
    padding-right: 10px;
}
.docTrans_translator_upload_button input {
    opacity: 0;
    height: 0.1px;
    width: 0.1px;
}
.docTrans_translator_upload_button{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.source_textarea_bottom{
    display: flex;
    width: 100%;
}
#docTrans_char_count{
    position: absolute;
    align-self: center;
    right: 10px;
    bottom: 5px;
}
.textarea_placeholder_text {
    position: absolute;
    display: block;
    position: absolute;
    text-align: left;
    cursor: text;
    pointer-events: none;
    font-size: 26px;
    color: #959595;
    top: 20px;
    right: 30px;
    top: 16px;
    left: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: inherit;
}
.textarea_placeholder_text > span {
  font-size: 16px;
  line-height: 150%;
  top: 0.4em;
  position: relative;
  display: block;
}
.textarea_separator {
    position: absolute;
    top: 54px;
    left: calc(50% - 5px);
    /* height: calc(100% - 55px); */
    min-height: 530px;
}
.textarea_separator .textarea_separator__vertical_line {
    display: none;
    position: absolute;
    width: 6px;
    height: calc(100% - 130px);
    right: -8px;
    top: 60px;
    z-index: 11;
    background-color: rgb(241, 241, 241);
}
.textarea_separator .textarea_separator__arrow {
    display: block;
    position: absolute;
    transform: scaleY(1.1) rotate(45deg);
    right: -8px;
    top: calc(50% - 4px);
    width: 6px;
    height: 6px;
    z-index: 12;
    border-top: 2px solid rgb(15, 43, 70);
    border-right: 2px solid rgb(15, 43, 70);
    border-radius: 0px;
}
.textarea_separator .textarea_separator__border_inner {
    content: " ";
    display: block;
    position: absolute;
    right: -20px;
    top: calc(50% - 24px);
    width: 30px;
    height: 48px;
    background-color: rgb(255, 255, 255);
    z-index: 11;
    box-sizing: border-box;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(241, 241, 241);
    border-image: initial;
    border-radius: 16px;
}
.textarea_separator .textarea_separator__border_outer {
    content: " ";
    display: none;
    position: absolute;
    right: -22px;
    top: calc(50% - 26px);
    width: 34px;
    height: 52px;
    z-index: 10;
    box-sizing: border-box;
    background-color: rgb(231, 231, 231);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(15, 43, 70);
    border-image: initial;
    border-radius: 16px;
}
.textarea_separator .textarea_separator__busy {
    display: block;
    position: absolute;
    right: -13px;
    top: calc(50% - 9px);
    z-index: 12;
    width: 16px;
    height: 16px;
    background-color: white;
    opacity: 0;
    transition: opacity 100ms ease-out 0s;
}
.translate_convert{
    position: absolute;
    z-index: 15;
    right: -18px;
    top: 28px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 24px!important;
    width: 24px!important;
    background-position: 0px -48px;
    border-radius: 24px;
    background-image: url(../icons/1x_mobile.png);
}
.translate_convert:hover{
    background-color: lightgray;
    cursor: pointer;
}
.target_toolbar {
    position: relative;
    top: -40px;
    width: 100%;
    height: 32px;
    line-height: 22px;
    opacity: 0.9;
    transition: opacity 250ms ease-in-out;
    padding: 5px 20px 5px 20px;
    box-sizing: border-box;
    text-align: right;
    direction: rtl;
    display: flex;
}
.target_toolbar__generic > button, .target_toolbar__copy > button, .target_toolbar__save > button, .target_toolbar__share > button {
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    padding-left: 30px;
    background-color: transparent;
    color: #0F2B46;
    stroke: #0F2B46;
    position: relative;
    border: none;
    transition: opacity 300ms ease-in-out, background-color 250ms ease-out;
    float: left;
    font-size: 20px;
    line-height: 20px;
}
#menu{
    box-sizing: border-box;
    position: fixed;
    width: 340px;
    right: 10px;
    top: 12px;
    bottom: 10px;
    background-color: #fff;
    z-index: 100;
    border-radius: 4px;
    padding: 20px 26px 0px 36px;
    color: #090909;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.051);
    max-height: 1200px;
    animation: menu_open_animation 0.2s 0s ease-out 1;
    transform-origin: 50% 10%;
    overflow: hidden;
}
.menu_overlay{
    position: absolute;
    background-color: rgba(9, 9, 9, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 100;
}
.sky_header_menu__nav_link{
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: inherit;
    padding: 8px 0px;
    font-weight: 300;
}
.menu__main_section{
    position: relative;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 2px 4px;
}
.menu__footer_section{
    position: relative;
    height: 150px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: center;
}
.menu__footer_section:before{
    content: "";
    display: block;
    height: 25px;
    background: linear-gradient(180deg, #C4C4C4 0%, rgba(196, 196, 196, 0) 100%);
    opacity: 0.2;
    position: absolute;
    top: 0px;
    left: -40px;
    width: calc(100% + 80px);
}
.menu__login__banner {
    font-family: inherit;
    font-size: 32px;
    width: 200px;
}
.menu__login__signup_text {
    font-size: 18px;
    font-weight: 600;
    font-family: inherit;
    margin-top: 5px;
}
.menu__login__form, .menu__sign__form, .menu__reset__form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
input[type=text], input[type=email], input[type=password]{
    padding: 10px 15px;
    border: 1px solid #666;
    border-radius: 5px;
    line-height: 1;
    font-size: 1em;
    transition: 0.3s;
    background-position: right 5px top 5px;
    width: -webkit-fill-available;
    width: -moz-available;
/*     
    border: none;
    border-bottom: 1px solid #dee2e5;
    border-radius: 0;
    width: 100%; */
}
input[type=text]:placeholder-shown[required], input[type=email]:placeholder-shown[required], input[type=number]:placeholder-shown[required], input[type=password]:placeholder-shown[required] {
    background-image: url(../icons/asterisk.svg);
    background-size: 8px;
    background-repeat: no-repeat;
    background-position: right 5px top 5px;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    /* border-bottom: 1px solid #006494; */
    outline: none;
}
.text_input label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
    line-height: 1;
    font-size: 1em;
    color: #333;
    transition: 0.2s;
}
.text_input input + label {
    padding: 5px;
    transform-origin: left;
    transform: translate(3px, -50%) scale(0.8);
    color: #004c03;
    opacity: 1;
}
.text_input input + label:after {
    opacity: 1;
}
.text_input label:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 22%;
    height: calc(28% + 3px);
    background-color: #FFFFFF;
    z-index: -1;
    opacity: 0;
}
.menu__login__form__pass, .menu__login__form__name, .menu__sign__form__email {
    position: relative;
    margin-top: 24px;
}
.menu__login__form__pass__forgot:focus, .menu__login__form__pass__forgot:active {
    outline: none;
}
.menu__login__form__pass__forgot:hover {
    color: #006494;
}
.menu__login__form__pass__forgot {
    position: absolute;
    right: -4px;
    top: calc(100% - 4px);
    background-color: transparent;
    border: none;
    line-height: 24px;
    font-size: 13px;
    font-family: inherit;
    padding: 4px 6px;
    cursor: pointer;
}
.sky_button {
    background-color: #0F2B46 !important;
    border: none;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    color: #ffffff;
    cursor: pointer;
    padding: 0.75em 1.5em;
    display: inline-block;
    position: relative;
    margin: 40px 0 20px 0;
    transition: background-color 0.15s ease-out, color 0.15s ease-out, color 0.15s ease-out, color 0.15s ease-out, border 0.15s ease-out, color 0.15s ease-out;
}
.sky_button:hover {
    background-color: #05668D !important;
}
.menu__login__signup_link {
    position: relative;
    /* font-size: 12px; */
    font-weight: 600;
    line-height: 15px;
    color: #006494;
    margin-top: 10px;
}
.sky_link--small.sky_link--more::after {
    content: " ";
    background: transparent url(../icons/icon_arrow_right2_v2.svg) no-repeat right;
    width: 18px;
    height: 10px;
    right: -10px;
    top: 0px;
}
.docTrans_translator_upload_button:hover ~ .docTrans__help_popup, .docTrans_translator_upload_button:focus ~ .docTrans__help_popup, .docTrans_translator_upload_button:active ~ .docTrans__help_popup{
    opacity: 1;
    z-index: 0;
    transition: opacity 0.25s 0.5s ease-out;
}
.docTrans__help_popup {
    opacity: 0;
    padding: 2%;
    font-size: large;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 40px);
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    transition: opacity 0.25s ease-out;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* pointer-events: none; */
}
.docTrans__help_popup .docTrans__help_popup__icons__sep {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 40px;
    line-height: 60px;
    margin: 0 15px;
}
.menu__error {
    font-size: x-larger;
    /* background: bisque; */
    color: red;
    padding : 10px 10px;
    display: none;
}
.menu__error ul{
    padding-left: 20px;
}
.menu__error ul li ul{
    list-style: none;
    padding-left: 10px;
    font-size: smaller;
    color: #090909;
}
.text_input {
    position: relative;
}
.textarea_container {
    box-shadow: 0px 14px 16px rgba(0, 0, 0, 0.06) !important;
    border: 2px solid transparent !important;
    background-color: #fff;
    position: relative;
    font-size: 100%;
}
#translator_dict,#translator_sentences {
    padding: 16px 32px 16px 24px;
    margin:3px;
    width:50%;
    background: white;
    display: inline-table;
}
#translator_sentences ul {
    list-style-type: none;
    padding: 0;
}
#docTrans_source, #docTrans_target{
    height: 50px;
    margin: 3% 0;
    font-size: medium;
}
#docTrans_loading{
    position: absolute;
    background: white;
    width: 100%;
    height: -webkit-fill-available;
    height: -moz-available;
    padding: 15% 0;
    text-align: -webkit-center;
}
@media (max-width: 768px) {
    .dict_area{
        width: 99%;
    }
    .textarea_separator{
        display:none;
        width: 0;
        height: 0;
    }
    .sides_container { display: block;}
    .side_container { width: 100%; }
    textarea {min-height: 250px; padding-bottom: 50px;}
    textarea::placeholder{
        font-size: x-large;
    }
    .side_container--target {margin-left: 0;}
}
@media (max-width: 400px) {
    textarea::placeholder, .btn{
        font-size: medium;
    }
    .textarea_container{
        font-size: small;
    }
}