.modal-body {
    text-align: -webkit-center;
}

.nav-tabs {
    border-bottom: 1px solid black;
}

.corpus_tab.active {
    border: 1px solid;
    border-style: solid solid none solid;
    border-radius: 5px 5px 0 0;
    background-color: white;
    padding: 0 10px;
    cursor: pointer;
    z-index: 11;
}

.corpus_tab.active > a {
    color: black;
}

.corpus_tab {
    border: 1px solid;
    border-style: none none solid none;
    border-radius: 5px 5px 0 0;
    background-color: white;
    padding: 0 10px;
    cursor: pointer;
}
.corpus_tab > a{
    color: gray;
}
.dict_area .sky_button {
    margin: 10px 0 10px 0;
    width: 160px;
    padding: 5px 10px 5px 10px;
    background: -webkit-linear-gradient(#E0E0E0, #FFF, #E0E0E0) !important;
    color: black;
}

.btn_new,
.btn_delete {
    width: 80px !important;
}

.dict_area {
    padding: 10px;
}

.submenu {
    display: flex;
    padding: 0px 10px;
    border-bottom-width: 0px;
}

#div_content {
    width: 100%;
    overflow: auto;
    border: 1px solid;
    border-style: solid none none;
    margin-top: -1px;
    height: calc(100vh - 155px);
}

div.table-container {
    width: 100%;
    height: calc(100vh - 270px);
}

#div_content input[type=text] {
    padding: 5px 10px;
}

table.paleblue td.match_rate {
    text-align: center;
}

td {
    padding: 10px;
}

th {
    position: sticky;
    box-shadow: 0px 0px 0px 1px #DDDDDDFF;
    top: 0;
}

table.paleblue td {
    text-align: left;
}

table.paleblue th {
    text-align: center;
}

.input-group-btn-vertical>.btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical>.btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical>.btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.input-group .form-control {
    border: 1px solid #ccc;
}

.spinner {
    width: 100px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: -3px;
    left: 3px;
}

#id_searchname {
    width: auto;
}

.modal label {
    font-size: 1em;
    font-weight: normal;
}

hr {
    margin-bottom: 30px;
    width: 50%;
    min-width: 500px;
}

.validator {
    color: black !important;
}


#dict_area{
    padding: 0px 32px 1px 24px;
    width: 100%;
    background: white;
}


.content {
    max-width: 100%;
    height: calc(100vh - 155px);
    overflow: auto;
}

.content,
.language_bar,
.list_side {
    width: 100%;
    background-color: white;
    text-align: left;
}

.content div {
    padding: 1% 0 0 0;
}

.content #clear {
    padding: 0;
    margin: -1px 2%;
    display: flex;
    border: 1px solid #0F2B46;
    border-radius: 10px;
}

.content ul {
    list-style-type: none;
    margin: 0;
}



.content .word_type {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 2% 0;
}

textarea {
    width: 100%;
}

.content input[type=text] {
    padding: 5px 3px;
}

.content #btn_vtype {
    padding: 3px 5px 3px 5px;
    margin: 0 5px;
    background-color: white;
    border: 1px solid;
    border-radius: 5px 5px 0 0;
    border-style: solid solid none solid;
    display: inline-block;
}

.content .txtlabel {
    font-size: smaller;
    font-style: italic;
}

.list_side {
    max-width: 260px;
    height: calc(100vh - 190px);
    position: relative;
    display: flow-root;
    overflow: auto;
}

#view_content {
    display: none;
}

.div_corpusfilelist {
    width: 100%;
    text-align: center;
    border: 1px solid;
    border-radius: 5px 5px 0 0;
    background: white;
    border-style: none none solid none;
    background-size: 100% 100%;
}

.div_corpusfilelist {
    border-color: black;
}


#corposfiletable_wrapper {
    display: block;
}

#corpusfilecontenttable_wrapper {
    display: contents;
}

#view_word {
    font-size: x-large;
    font-style: oblique;
    font-weight: 600;
}

#corpusfile_content {
    display: flex;
}

.content {
    background-color: white;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 1%;
}

@media (max-width: 767px) {
    #corpusfile_content {
        display: block;
    }
    #corpusfile_content > div.container.response {
        margin-top: 10px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .col-sm-12{
        padding-right: 0px;
        padding-left: 0px;
    }
    .list_side {
        max-height: 200px;
        max-width: 100%;
        font-size: small;
    }
    #list_vocabulary,
    #list_lexitron {
        max-height: 200px;
    }
    #corpusfile_content .content {
        max-height: 100%;
    }
    .content ul {
        padding: 0;
        font-size: small;
    }
    .content div {
        font-size: small;
    }
}

th {
    text-align: center;
}

#corpusfilecontenttable_filter > label > input, #corpusfilecontenttable_length > label > select{
    display: -webkit-inline-box;
    width: min-content;
}
#corpusfilecontenttable_paginate > ul{
    display: contents;
}
.row{
    width: 100%;
}

@media (max-width: 995px){
    .container {
        width: 99%;
    }
    #corpusfilecontenttable_wrapper > div:nth-child(1) > div:nth-child(1){
        width: 50%;
    }
    #corpusfilecontenttable_wrapper > div:nth-child(1) > div:nth-child(2){
        width: 50%;
    }
}


#menu > div.menu__main_section{
    overflow-y: initial;
}

#cf_upload_form{
    text-align: -webkit-center;;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0; 
    margin-left: 0px;
}

#corpusfile_content > div.container.response > div.table-container.table-responsive{
    height: auto;
}

#sentencetable{
    margin-top: 10px;
}

thead>tr>th{
    background-color: #fff;
    text-align: center !important;
}


#corpusfilecontenttable_wrapper > div.row{
    margin-left: 0px;
    margin-right: 0px;
}
#corpusfilecontenttable_length{
    display: none;
}


#list_vocabulary {
    padding: 0;
    padding-top: 10px;
    border: 1px solid #0F2B46;
    height: 97%;
    overflow: auto;
    margin: -1px 0;
}



.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border: 1px solid #ddd !important;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border: 1px solid #ddd !important;
    padding: 8px !important;
}
table.dataTable {
    border-collapse: collapse !important;
}
fieldset{
    border: 1px solid #100f0f;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend{
    border-bottom: none;
    text-align: center;
    width: 80%;
    font-size: inherit;
}

fieldset>ul{
    padding-top: 6px;
    border: 1px solid lightgray;
    border-style: none none solid;
    margin: 0px;
    padding-left: 10px;
}
fieldset>ul:hover{
    background-color: #f5f5f5;
}
fieldset>ul.selected{
    background-color: lightgray;
    transform-origin: left;
    transition-timing-function: cubic-bezier(0, 0, 0.79, 0.01);
}
.planey{
    width: 3px;
    background-color: gray;
}

#div_Corpus_Validator{
    margin-top: 20px;
}


.page-link{
    cursor: pointer;
}

#pageno{
    width: 80px;
}