.modal-body {
    text-align: -webkit-center;
}

.nav-tabs {
    border-bottom: 1px solid black;
}

.corpus_tab.active {
    border: 1px solid;
    border-style: solid solid none solid;
    border-radius: 5px 5px 0 0;
    background-color: white;
    padding: 0 10px;
    cursor: pointer;
    z-index: 11;
}

.corpus_tab.active > a {
    color: black;
}

.corpus_tab {
    border: 1px solid;
    border-style: none none solid none;
    border-radius: 5px 5px 0 0;
    background-color: white;
    padding: 0 10px;
    cursor: pointer;
}
.corpus_tab > a{
    color: gray;
}
.dict_area .sky_button {
    margin: 10px 0 10px 0;
    width: 160px;
    padding: 5px 10px 5px 10px;
    background: -webkit-linear-gradient(#E0E0E0, #FFF, #E0E0E0) !important;
    color: black;
}

.btn_new,
.btn_delete {
    width: 80px !important;
}

.dict_area,
.form_vocabulary {
    padding: 10px;
}

.submenu {
    display: flex;
    padding: 0px 10px;
    border-bottom-width: 0px;
}

#div_content {
    width: 100%;
    padding: 5px;
    overflow: auto;
    text-align: center;
    border: 1px solid;
    border-style: solid none none;
    margin-top: -1px;
}

div.table-container {
    width: 100%;
    height: calc(100vh - 270px);
}

#div_content input[type=text] {
    padding: 5px 10px;
}

table.paleblue td.match_rate {
    text-align: center;
}

td {
    padding: 10px;
}

th {
    position: sticky;
    box-shadow: 0px 0px 0px 1px #DDDDDDFF;
    top: 0;
}

table.paleblue td {
    text-align: left;
}

table.paleblue th {
    text-align: center;
}

.input-group-btn-vertical>.btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical>.btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical>.btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.input-group .form-control {
    border: 1px solid #ccc;
}

.spinner {
    width: 100px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: -3px;
    left: 3px;
}

#id_searchname {
    width: auto;
}

.modal label {
    font-size: 1em;
    font-weight: normal;
}

hr {
    margin-bottom: 30px;
    width: 50%;
    min-width: 500px;
}

.validator {
    color: black !important;
}


/* -------------------------------------------------- */

#translator_dict,
#translator_sentences {
    padding: 0px 32px 1px 24px;
    width: 100%;
    background: white;
}

.dictionary_dict_area ul {
    list-style-type: none;
    padding: 0%;
    border: 1px solid #ddd;
    background-color: aliceblue;
    display: flex;
}

.dictionary_dict_area ul li {
    width: 50%;
    padding: 1%;
}

.dictionary_dict_area {
    width: 100%;
    margin-top: 10px;
}

.content {
    max-width: 100%;
    height: calc(100vh - 155px);
    overflow: auto;
}

.content,
.language_bar,
.list_side {
    width: 100%;
    background-color: white;
    text-align: left;
}

.content div {
    padding: 1% 0 0 0;
}

.content #clear {
    padding: 0;
    margin: -1px 2%;
    display: flex;
    border: 1px solid #0F2B46;
    border-radius: 10px;
}

.content ul {
    list-style-type: none;
    margin: 0;
}

.content .frame {
    position: relative;
    margin: 12px 0;
    padding: 10px 15px;
    border: 1px solid #666;
    border-radius: 5px;
}

.content .frame .frm_label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 15px 0 15px;
    line-height: 1;
    font-size: 1em;
    transition: 0.2s;
    transform: translate(3px, -50%) scale(0.8);
    color: #004c03;
    opacity: 1;
    background-color: white;
}

.content .word_type {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 2% 0;
}

textarea {
    width: 100%;
}

.content input[type=text] {
    padding: 5px 3px;
}

.content #btn_vtype {
    padding: 3px 5px 3px 5px;
    margin: 0 5px;
    background-color: white;
    border: 1px solid;
    border-radius: 5px 5px 0 0;
    border-style: solid solid none solid;
    display: inline-block;
}

.content .txtlabel {
    font-size: smaller;
    font-style: italic;
}

.list_side {
    max-width: 200px;
    padding: 1%;
    height: calc(100vh - 155px);
}

#view_content {
    display: none;
}

#list_vocabulary {
    padding: 0;
    padding-top: 10px;
    border: 1px solid #0F2B46;
    height: 97%;
    overflow: auto;
    margin: -1px 0;
}

#list_vocabulary ul {
    padding-top: 6px;
    border: 1px solid lightgray;
    border-style: none none solid;
    margin: 0px;
}

#list_vocabulary ul:hover {
    background-color: #eee;
}

.div_corpusfilelist {
    width: 100%;
    text-align: center;
    border: 1px solid;
    border-radius: 5px 5px 0 0;
    background: white;
    border-style: none none solid none;
    background-size: 100% 100%;
}

.div_corpusfilelist {
    border-color: black;
}

#Unapproved,
#Approved {
    display: none;
}

#corposfiletable_wrapper {
    display: block;
}

#corpusfilecontenttable_wrapper {
    display: contents;
}

#view_word {
    font-size: x-large;
    font-style: oblique;
    font-weight: 600;
}

#content_user_vocabulary {
    display: flex;
}

.content {
    background-color: white;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 1%;
}


/* .glyphicon {
    margin-left: 10px;
    border-radius: 24px;
    background: none;
}

.btn_save,
.btn_approve,
.btn_delete {
    margin: 0;
    margin-left: 3em;
    padding: 0.25em 0.75em;
    min-width: 100px;
} */

select {
    width: 100px;
    margin: 0 20px;
}

.form_vocabulary {
    display: flex;
}

.form_vocabulary div {
    width: 96%;
}

@media (max-width: 767px) {
    #content_user_vocabulary {
        display: block;
    }
    #content_user_vocabulary > div.container.response{
        margin-top: 0px;
    }
    .list_side {
        max-height: 200px;
        max-width: 100%;
        font-size: small;
    }
    #list_vocabulary,
    #list_lexitron {
        max-height: 100px;
    }
    #content_user_vocabulary .content {
        max-height: 100%;
    }
    .content ul {
        padding: 0;
        font-size: small;
    }
    .content div {
        font-size: small;
    }
    .form_vocabulary {
        display: block;
    }
}

th {
    text-align: center;
    /* height: 40px; */
}

#corpusfilecontenttable_filter > label > input, #corpusfilecontenttable_length > label > select{
    display: -webkit-inline-box;
    width: min-content;
}
#corpusfilecontenttable_paginate > ul{
    display: contents;
}
.row{
    width: 100%;
}
#content_user_vocabulary > div.container.response{
    margin-top: 40px;
}
@media (max-width: 995px){
    .container {
        width: 99%;
    }
    #corpusfilecontenttable_wrapper > div:nth-child(1) > div:nth-child(1){
        width: 50%;
    }
    #corpusfilecontenttable_wrapper > div:nth-child(1) > div:nth-child(2){
        width: 50%;
    }
}


#menu > div.menu__main_section{
    overflow-y: initial;
}

#cf_upload_form{
    text-align: -webkit-center;;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0; 
    margin-left: 0px;
}

#content_user_vocabulary > div.container.response > div.table-container.table-responsive{
    height: auto;
}


/* Tag colors */

.tagAdjective { background-color: #fc6; }
.tagAdverb { background-color: #c99; }
.tagConjunction { background-color: #cc9; }
.tagDeterminer { background-color: #99c; }
.tagInterjection { background-color: #6f6; }
.tagNoun { background-color: #ccc; }
.tagNumber { background-color: #6c9; }
.tagPreposition { background-color: #f9c; }
.tagPronoun { background-color: #ee7; }
.tagVerb { background-color: #cf6; }
.tagOther { background-color: #fff; }

.montessori .tagAdjective { background-color: #3a5f93; color: #ffffff; }
.montessori .tagAdverb { background-color: #fd8401; }
.montessori .tagConjunction { background-color: #fb9ff4; }
.montessori .tagDeterminer { background-color: #8fd8ff; }
.montessori .tagInterjection { background-color: #ffcb67; }
.montessori .tagNoun { background-color: #000000; color: #ffffff; }
.montessori .tagNumber { background-color: #82a4b6; }
.montessori .tagPreposition { background-color: #00cc67; }
.montessori .tagPronoun { background-color: #8957b0; color: #ffffff; }
.montessori .tagVerb { background-color: #fe0000; color: #ffffff; }
.montessori .tagOther { background-color: #fff; }











.nav-tabs {
    font-weight: bold;
}

.tab-pane {
    padding-top: 10px;
}

.btn-toolbar {
    margin-bottom: 15px;
    min-height: 34px;
}

select#posDownload {
    display: inline-block;
    width: auto;
}

select.language {
    width: auto;
    float: right;
}

#edit,
#submit {
    min-width: 35%;
}

/* Application specific */

#colors div {
    margin-bottom: 3px;
    padding: 3px 7px 3px 7px;
    border-radius: 3px;
}

#stupidNiceStuff {
}

#text {
    min-height: 60px;
}

#textTagged {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    padding: 4px;
    line-height: 1.8em;
    min-height: 60px;
}

.taggedWord {
    cursor: pointer;
    border-radius: 2px;
    padding: 0.1em 0.2em 0.1em 0.2em;
}

.taggedWord span {
    display: none;
    vertical-align: 4px;
    font-size: 0.8em;
}

#tagTipContainer {
    position: absolute;
    box-shadow: 2px 2px 10px 2px rgba(150,150,150,0.5);
    border-radius: 0 5px 5px 5px;
    z-index: 10;
}

#tagTipContainer .up {
    display: inline;
}

#tagTip {
    padding: 5px;
    margin-top: -3px;
}

.histogram {
    width: 100%;
    margin-bottom: 15px;
}

.histogram td {
    padding-bottom: 3px;
}

.histogramPos {
    width: 1%;
    padding-right: 10px;
}

.histogramPercent {
    padding-left: 5px;
}

.histogramBar {
    display: inline-block;
    border-radius: 3px;
}

/* Modes */

.mode-view .show-edit {
    display: none;
}

.mode-edit .show-view {
    display: none;
}

.tools {
    /* display: none; */
}

.show-tools .tools {
    display: block;
}

/* Loader */

.loading .lds-ellipsis {
    display: block;
}
.loading .btn-toolbar button,
.loading .btn-toolbar select {
    display: none;
}

.lds-ellipsis {
  display: none;
  position: relative;
  width: 64px;
  height: 34px;
  margin: auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 6px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


/* Responsive stuff */



@media (max-width: 990px) {
    /* mobile */
    body {
        margin-top: 5px;
    }

    h1 {
        display: none;
    }

    .nav li a {
        padding: 10px 10px;
    }

    #colors {
        margin-bottom: 8px;
    }

    #colors div {
        display: inline-block;
        min-width: 7.5em;
    }

    #edit,
    #submit {
        min-width: 0;
    }

    .hide-mobile {
        display: none;
    }

    .show-tools #colors {
        display: none;
    }
}


thead>tr>th{
    background-color: #fff;
}


#corpusfilecontenttable_wrapper > div.row{
    margin-left: 0px;
    margin-right: 0px;
}
#corpusfilecontenttable_length{
    display: none;
}