.modal-body {
    text-align: -webkit-center;
}

.nav-tabs {
    border-bottom: 1px solid black;
}

.corpus_tab.active {
    border: 1px solid;
    border-style: solid solid none solid;
    border-radius: 5px 5px 0 0;
    background-color: white;
    padding: 0 10px;
    cursor: pointer;
    z-index: 11;
}

.corpus_tab.active > a {
    color: black;
}

.corpus_tab {
    border: 1px solid;
    border-style: none none solid none;
    border-radius: 5px 5px 0 0;
    background-color: white;
    padding: 0 10px;
    cursor: pointer;
}
.corpus_tab > a{
    color: gray;
}
.dict_area .sky_button {
    margin: 10px 0 10px 0;
    width: 160px;
    padding: 5px 10px 5px 10px;
    background: -webkit-linear-gradient(#E0E0E0, #FFF, #E0E0E0) !important;
    color: black;
}

.btn_new,
.btn_delete {
    width: 80px !important;
}

.dict_area {
    padding: 10px;
}

.submenu {
    display: flex;
    padding: 0px 10px;
    border-bottom-width: 0px;
}

#div_content {
    width: 100%;
    overflow: auto;
    border: 1px solid;
    border-style: solid none none;
    margin-top: -1px;
    height: calc(100vh - 155px);
}

div.table-container {
    width: 100%;
    height: calc(100vh - 270px);
}

#div_content input[type=text] {
    padding: 5px 10px;
}

table.paleblue td.match_rate {
    text-align: center;
}

td {
    padding: 10px;
}

th {
    position: sticky;
    box-shadow: 0px 0px 0px 1px #DDDDDDFF;
    top: 0;
}

table.paleblue td {
    text-align: left;
}

table.paleblue th {
    text-align: center;
}

.input-group-btn-vertical>.btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical>.btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical>.btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.input-group .form-control {
    border: 1px solid #ccc;
}

.spinner {
    width: 100px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: -3px;
    left: 3px;
}

#id_searchname {
    width: auto;
}

.modal label {
    font-size: 1em;
    font-weight: normal;
}

hr {
    margin-bottom: 30px;
    width: 50%;
    min-width: 500px;
}

.validator {
    color: black !important;
}


#dict_area{
    padding: 0px 32px 1px 24px;
    width: 100%;
    background: white;
}


.content {
    max-width: 100%;
    height: calc(100vh - 155px);
    overflow: auto;
}

.content,
.language_bar,
.list_side {
    width: 100%;
    background-color: white;
    text-align: left;
}

.content div {
    padding: 1% 0 0 0;
}

.content #clear {
    padding: 0;
    margin: -1px 2%;
    display: flex;
    border: 1px solid #0F2B46;
    border-radius: 10px;
}

.content ul {
    list-style-type: none;
    margin: 0;
}



.content .word_type {
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 2% 0;
}

textarea {
    width: 100%;
}

.content input[type=text] {
    padding: 5px 3px;
}

.content #btn_vtype {
    padding: 3px 5px 3px 5px;
    margin: 0 5px;
    background-color: white;
    border: 1px solid;
    border-radius: 5px 5px 0 0;
    border-style: solid solid none solid;
    display: inline-block;
}

.content .txtlabel {
    font-size: smaller;
    font-style: italic;
}

.list_side {
    max-width: 250px;
    height: calc(100vh - 190px);
    position: relative;
    display: flow-root;
    overflow: auto;
    margin-right: 10px;
}
#view_content {
    display: none;
}

.div_postaggedlist {
    width: 100%;
    text-align: center;
    border: 1px solid;
    border-radius: 5px 5px 0 0;
    background: white;
    border-style: none none solid none;
    background-size: 100% 100%;
}

.div_postaggedlist {
    border-color: black;
}


#corposfiletable_wrapper {
    display: block;
}

#postaggedcontenttable_wrapper {
    display: contents;
}

#view_word {
    font-size: x-large;
    font-style: oblique;
    font-weight: 600;
}

#postagged_content {
    display: flex;
}

.content {
    background-color: white;
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 1%;
}
.color_div{
    width: 82px;
}

@media (max-width: 767px) {
    #postagged_content {
        display: block;
    }
    #postagged_content > div.container.response {
        margin-top: 10px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .col-sm-12{
        padding-right: 0px;
        padding-left: 0px;
    }
    .list_side {
        max-height: 200px;
        max-width: 100%;
        font-size: small;
    }
    #list_vocabulary,
    #list_lexitron {
        max-height: 200px;
    }
    #postagged_content .content {
        max-height: 100%;
    }
    .content ul {
        padding: 0;
        font-size: small;
    }
    .content div {
        font-size: small;
    }
    /* .color_div{
        width: auto;
    } */
}

th {
    text-align: center;
}

#postaggedcontenttable_filter > label > input, #postaggedcontenttable_length > label > select{
    display: -webkit-inline-box;
    width: min-content;
}
#postaggedcontenttable_paginate > ul{
    display: contents;
}
.row{
    width: 100%;
}


@media (max-width: 995px){
    .container {
        width: 99%;
    }
    #postaggedcontenttable_wrapper > div:nth-child(1) > div:nth-child(1){
        width: 50%;
    }
    #postaggedcontenttable_wrapper > div:nth-child(1) > div:nth-child(2){
        width: 50%;
      
    }
    /* .color_div{
        width: 90px;
    } */
}

@media (max-width: 1600px ){
    /* .color_div{
        width: 90px;
    } */
}
#menu > div.menu__main_section{
    overflow-y: initial;
}

#pf_upload_form{
    text-align: -webkit-center;;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0; 
    margin-left: 0px;
}

#postagged_content > div.container.response > div.table-container.table-responsive{
    height: auto;
}

#sentencetable{
    margin-top: 10px;
    padding-right: 0px; 
    padding-left: 0px;
  
}


#postaggedcontenttable_wrapper > div.row{
    margin-left: 0px;
    margin-right: 0px;
}
#postaggedcontenttable_length{
    display: none;
}


#list_vocabulary {
    padding: 0;
    padding-top: 10px;
    border: 1px solid #0F2B46;
    height: 97%;
    overflow: auto;
    margin: -1px 0;
}



table.dataTable thead th, table.dataTable thead td {
    padding: 8px;
    border-bottom: 1px solid #111;
    font-size: 14px;
    text-align: center;
    background-color: #fff;
}
table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border: 1px solid #ddd !important;
    padding: 8px !important;
    font-size: 14px;
}
table.dataTable {
    border-collapse: collapse !important;
}
fieldset{
    border: 1px solid #100f0f;
    margin: 0 2px;
    padding: .35em .625em .75em;
}

legend{
    border-bottom: none;
    text-align: center;
    width: 80%;
    font-size: inherit;
}

fieldset>ul{
    padding-top: 6px;
    border: 1px solid lightgray;
    border-style: none none solid;
    margin: 0px;
    padding-left: 10px;
}
fieldset>ul:hover{
    background-color: #f5f5f5;
}
fieldset>ul.selected{
    background-color: lightgray;
    transform-origin: left;
    transition-timing-function: cubic-bezier(0, 0, 0.79, 0.01);
}
.planey{
    width: 3px;
    background-color: gray;
}

#div_POSTagged_Validator{
    margin-top: 20px;
}


.page-link{
    cursor: pointer;
}

#pageno{
    width: 60px;
    padding: initial;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 0;
    color: #000000;
    background-color: #fff;
    border-color: #ddd;
    position: flex;
    color: black;
}


.pagination>li>a, .pagination>li>span {
    color: black;
}

#sentencetable_previous > a:hover, #sentencetable_previous > :focus, #sentencetable_next > a:hover, #sentencetable_next > :focus{
    background-color: gainsboro;;
}


/* .tagADJ { background-color: #3498db; }
.tagADP { background-color: #e67e22; }
.tagADV { background-color: #F9E79F; }
.tagAUX { background-color: #9b59b6b3; }
.tagCCONJ { background-color: #e74c3c;}
.tagDET { background-color : #2980b9d1; }
.tagINTJ { background-color: #f39c12; }
.tagNOUN { background-color: #7d6608; }
.tagNUM { background-color: #2ecc71a6; }
.tagPART { background-color: #27ae60; }
.tagPRON { background-color: #de7075; }
.tagPROPN { background-color: #8e44ad; }
.tagPUNCT { background-color: #f1c40f; }
.tagSCONJ { background-color: #e8a697; }
.tagVERB { background-color: #e061c5; }
.tagOTH { background-color: #95a5a6; } */



.taggedWord.tagADJ { border-bottom: 4px solid #3498db; border-right: 4px solid #3498db; border-top: 2px solid white;border-left: 2px solid white;}
.taggedWord.tagADP { border-bottom: 4px solid #e67e22; border-right: 4px solid #e67e22; border-top: 2px solid white;border-left: 2px solid white;}
.taggedWord.tagADV { border-bottom: 4px solid #F9E79F; border-right: 4px solid #F9E79F; border-top: 2px solid white;border-left: 2px solid white;}
.taggedWord.tagAUX { border-bottom: 4px solid #9b59b6b3; border-right: 4px solid #9b59b6b3; border-top: 2px solid white;border-left: 2px solid white;}
.taggedWord.tagCCONJ { border-bottom: 4px solid #e74c3c; border-right: 4px solid #e74c3c;border-top: 2px solid white;border-left: 2px solid white;}
.taggedWord.tagDET { border-bottom: 4px solid #2980b9d1; border-right: 4px solid #2980b9d1; border-top: 2px solid white;border-left: 2px solid white;}
.taggedWord.tagINTJ { border-bottom: 4px solid #f39c12; border-right: 4px solid #f39c12; border-top: 2px solid white;border-left: 2px solid white;}
.taggedWord.tagNOUN { border-bottom: 4px solid #7d6608; border-right: 4px solid #7d6608; border-top: 2px solid white;border-left: 2px solid white;}
.taggedWord.tagNUM { border-bottom: 4px solid #2ecc71a6;  border-right: 4px solid #2ecc71a6; border-top: 2px solid white;border-left: 2px solid white;}
.taggedWord.tagPART { border-bottom: 4px solid #27ae60; border-right: 4px solid #27ae60; border-top: 2px solid white;border-left: 2px solid white;}
.taggedWord.tagPRON { border-bottom: 4px solid #de7075; border-right: 4px solid #de7075; border-top: 2px solid white;border-left: 2px solid white;}
.taggedWord.tagPROPN { border-bottom: 4px solid #8e44ad; border-right: 4px solid #8e44ad; border-top: 2px solid white;border-left: 2px solid white;}
.taggedWord.tagPUNCT { border-bottom: 4px solid #f1c40f; border-right: 4px solid #f1c40f; border-top: 2px solid white;border-left: 2px solid white;}
.taggedWord.tagSCONJ { border-bottom: 4px solid #e8a697; border-right: 4px solid #e8a697; border-top: 2px solid white;border-left: 2px solid white; }
.taggedWord.tagVERB { border-bottom: 4px solid #e061c5; border-right: 4px solid #e061c5; border-top: 2px solid white;border-left: 2px solid white;}
.taggedWord.tagOTH { border-bottom: 4px solid #95a5a6; border-right: 4px solid #95a5a6; border-top: 2px solid white;border-left: 2px solid white;}


.taggedWord.tagADJ.selected { border-bottom: 4px solid #3498db; border-right: 4px solid #3498db; border-top: 2px solid #3498db;border-left: 2px solid #3498db;}
.taggedWord.tagADP.selected { border-bottom: 4px solid #e67e22; border-right: 4px solid #e67e22;  border-top: 2px solid #e67e22;  border-left: 2px solid #e67e22; }
.taggedWord.tagADV.selected { border-bottom: 4px solid #F9E79F; border-right: 4px solid #F9E79F;  border-top: 2px solid #F9E79F;  border-left: 2px solid #F9E79F; }
.taggedWord.tagAUX.selected { border-bottom: 4px solid #9b59b6b3; border-right: 4px solid #9b59b6b3; border-top: 2px solid #9b59b6b3; border-left: 2px solid #9b59b6b3; }
.taggedWord.tagCCONJ.selected { border-bottom: 4px solid #e74c3c; border-right: 4px solid #e74c3c;border-top: 2px solid #e74c3c;border-left: 2px solid #e74c3c;}
.taggedWord.tagDET.selected { border-bottom: 4px solid #2980b9d1; border-right: 4px solid #2980b9d1; border-top: 2px solid #2980b9d1; border-left: 2px solid #2980b9d1; }
.taggedWord.tagINTJ.selected { border-bottom: 4px solid #f39c12; border-right: 4px solid #f39c12;  border-top: 2px solid #f39c12;  border-left: 2px solid #f39c12; }
.taggedWord.tagNOUN.selected { border-bottom: 4px solid #7d6608; border-right: 4px solid #7d6608; border-top: 2px solid #7d6608; border-left: 2px solid #7d6608; }
.taggedWord.tagNUM.selected { border-bottom: 4px solid #2ecc71a6; border-right: 4px solid #2ecc71a6;border-top: 2px solid #2ecc71a6;border-left: 2px solid #2ecc71a6; }
.taggedWord.tagPART.selected { border-bottom: 4px solid #27ae60; border-right: 4px solid #27ae60;border-top: 2px solid #27ae60;border-left: 2px solid #27ae60; }
.taggedWord.tagPRON.selected { border-bottom: 4px solid #de7075; border-right: 4px solid #de7075;border-top: 2px solid #de7075;border-left: 2px solid #de7075; }
.taggedWord.tagPROPN.selected { border-bottom: 4px solid #8e44ad; border-right: 4px solid #8e44ad;border-top: 2px solid #8e44ad;border-left: 2px solid #8e44ad; }
.taggedWord.tagPUNCT.selected { border-bottom: 4px solid #f1c40f; border-right: 4px solid #f1c40f;border-top: 2px solid #f1c40f;border-left: 2px solid #f1c40f; }
.taggedWord.tagSCONJ.selected { border-bottom: 4px solid #e8a697; border-right: 4px solid #e8a697; border-top: 2px solid #e8a697; border-left: 2px solid #e8a697; }
.taggedWord.tagVERB.selected { border-bottom: 4px solid #e061c5; border-right: 4px solid #e061c5; border-top: 2px solid #e061c5; border-left: 2px solid #e061c5; }
.taggedWord.tagOTH.selected { border-bottom: 4px solid #95a5a6; border-right: 4px solid #95a5a6;border-top: 2px solid #95a5a6;border-left: 2px solid #95a5a6; }

#tagTipContainer.tagADJ, .colors > .tagADJ  { background-color :  #3498db; }
#tagTipContainer.tagADP, .colors > .tagADP { background-color :  #e67e22; }
#tagTipContainer.tagADV, .colors > .tagADV { background-color :  #F9E79F; }
#tagTipContainer.tagAUX, .colors > .tagAUX { background-color :  #9b59b6b3; }
#tagTipContainer.tagCCONJ, .colors > .tagCCONJ { background-color :  #e74c3c;}
#tagTipContainer.tagDET, .colors > .tagDET { background-color :  #2980b9d1; }
#tagTipContainer.tagINTJ, .colors > .tagINTJ { background-color :  #f39c12; }
#tagTipContainer.tagNOUN, .colors > .tagNOUN { background-color :  #7d6608; }
#tagTipContainer.tagNUM, .colors > .tagNUM { background-color :  #2ecc71a6; }
#tagTipContainer.tagPART, .colors > .tagPART { background-color :  #27ae60; }
#tagTipContainer.tagPRON, .colors > .tagPRON { background-color :  #de7075; }
#tagTipContainer.tagPROPN, .colors > .tagPROPN { background-color : #8e44ad; }
#tagTipContainer.tagPUNCT, .colors > .tagPUNCT { background-color : #f1c40f; }
#tagTipContainer.tagSCONJ, .colors > .tagSCONJ { background-color : #e8a697; }
#tagTipContainer.tagVERB, .colors > .tagVERB { background-color : #e061c5; }
#tagTipContainer.tagOTH, .colors > .tagOTH { background-color : #95a5a6; }



.tab-pane {
    padding-top: 10px;
}

select#posDownload {
    display: inline-block;
    width: auto;
}

select.language {
    width: auto;
    float: right;
}

#edit,
#submit,
#save {
    min-width: 30%;
}

/* Application specific */

.colors div {
    margin-bottom: 1px;
    padding: 3px 7px 2px 7px;
    border-radius: 3px;
    overflow-x: overlay;
}
.colors > div:hover, .colors > div:focus{
    outline: -webkit-focus-ring-color auto 1px;
}


#pos_target, #pos_source {
    min-height: 80px;
}

#source_Tagged, #target_Tagged {
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    padding: 4px;
    line-height: 1.4em;
    min-height: 60px;
}
.taggedWord {
    cursor: pointer;
    border-radius: 2px;
    padding: 0.1em 0.2em 0.1em 0.2em;
    margin: 2px 8px;
    display: inline-table;
}

.taggedWord span {
    display: none;
    vertical-align: 4px;
    font-size: 0.8em;
}



#tagTipContainer {
    position: absolute;
    box-shadow: 2px 2px 10px 2px rgba(150,150,150,0.5);
    border-radius: 0 5px 5px 5px;
    z-index: 10;
}

#tagTipContainer .up {
    display: inline;
}

#tagTip {
    padding: 5px;
    margin-top: -3px;
}

.histogram {
    width: 100%;
    margin-bottom: 15px;
}

.histogram td {
    padding-bottom: 3px;
}

.histogramPos {
    width: 1%;
    padding-right: 10px;
}

.histogramPercent {
    padding-left: 5px;
}

.histogramBar {
    display: inline-block;
    border-radius: 3px;
}

/* Modes */

.mode-view .show-edit {
    display: none;
}

.mode-edit .show-view {
    display: none;
}



.show-tools .tools {
    display: block;
}

/* Loader */

.loading .lds-ellipsis {
    display: block;
}
.loading .btn-toolbar button,
.loading .btn-toolbar select {
    display: none;
}

.lds-ellipsis {
  display: none;
  position: relative;
  width: 64px;
  height: 34px;
  margin: auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 6px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #000;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


@media (max-width: 990px) {
    /* mobile */
    body {
        margin-top: 5px;
    }

    h1 {
        display: none;
    }

    .nav li a {
        padding: 10px 10px;
    }

    .colors {
        margin-bottom: 8px;
    }

    .colors div {
        display: inline-block;
        min-width: 7.5em;
    }

    #edit,
    #submit,
    #save {
        min-width: 0;
    }

    .hide-mobile {
        display: none;
    }

    .show-tools .colors {
        display: none;
    }
    
    .color_div{
        width: auto;
    }


}

#postagged_table > div > table > tbody > tr > td:nth-child(6){
    text-align: center;
    width: 70px !important;
}

#postagged_table > div > table > thead > tr > th:nth-child(6){
    width: 70px !important;
}

.ex_legend{
    margin-bottom: 0px;width: 65px;
    position: fixed;
    margin-left: 80px;
    background: white;
    font-weight: bold;
} 


.modal-footer {
    text-align: center;
}

.tb_bc{
    border: 1px solid;
    border-color: lightgrey;
}

    
.col-md-2 {
    padding: 5px;
    overflow-wrap: inherit;
}

.status_icons{
    width: 25%;
    height: 16px;
    vertical-align: initial;
}
.status_icons.selected{
    background-color: #721cd485;
}
