.modal-body {
    text-align: -webkit-center;
}

.cls_corpus_form,
.cls_pos_form {
    border: 1px solid;
    border-style: solid solid none solid;
    border-radius: 5px 5px 0 0;
    background-color: white;
    padding: 0 10px;
    cursor: pointer;
}

.dict_area .sky_button {
    margin: 10px 0 10px 0;
    width: 160px;
    padding: 5px 10px 5px 10px;
    background: -webkit-linear-gradient(#E0E0E0, #FFF, #E0E0E0) !important;
    color: black;
}

.btn_new,
.btn_delete {
    width: 80px !important;
}

.dict_area,
.form_vocabulary {
    padding: 10px;
}

.submenu {
    display: flex;
    padding: 0 10px;
}

#div_content {
    width: 100%;
    padding: 5px;
    overflow: auto;
    text-align: -webkit-center;
    border: 1px solid;
    border-style: solid none none;
    margin-top: -1px;
}

div.table-container {
    width: 100%;
    height: calc(100vh - 270px);
}

#div_content input[type=text] {
    padding: 5px 10px;
}

table.paleblue td.match_rate {
    text-align: center;
}

td {
    padding: 10px;
}

th {
    position: sticky;
    box-shadow: 1px 0px 0px 1px #DDDDDDFF;
    top: 0;
}

table.paleblue td {
    text-align: left;
}

table.paleblue th {
    text-align: center;
}

.input-group-btn-vertical>.btn:first-child {
    border-top-right-radius: 4px;
}

.input-group-btn-vertical>.btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}

.input-group-btn-vertical>.btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}

.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.input-group .form-control {
    border: 1px solid #ccc;
}

.spinner {
    width: 100px;
}

.input-group-btn-vertical i {
    position: absolute;
    top: -3px;
    left: 3px;
}

#id_searchTM {
    width: auto;
}

.modal label {
    font-size: 1em;
    font-weight: normal;
}

hr {
    margin-bottom: 30px;
    width: 50%;
    min-width: 500px;
}