{% extends 'validator/pos_index.html' %}
<!-- ============================== POS validator ============================== -->

{% load django_tables2 %} {% block content %} {% csrf_token %}

<script type="text/javascript">
    var suburl = "POSfiletable";
</script>
<!-- link div -->
<div id="dict_menu_bar" class="" style="margin-top: -10px;">
    <a id="view_Corpos_link" href="/corpus_validator">Corpus Validator</a>
    <a id="view_POS_link" href="/pos_validator" style="color:#000000;">POS Validator</a>
</div>


<div class="dict_area ">

    <div class="nav nav-tabs submenu">
        <div class='POS_tab active'>
            <a data-toggle="tab" href="#div_POS_file">
                POS file 
            </a>
        </div>
        <div class='POS_tab'>
            <a data-toggle="tab" href="#div_POS_Validator">
                POS Validator
            </a>
        </div>
    </div>


    <!-- Corpus file start area -->

    <div id="div_content" class="tab-content">
        <div id="div_POS_file" class="tab-pane fade in active">
            <div style="display: flex;">
                <button type='button' class='btn_new sky_button' data-toggle="tab">
                        <span class='glyphicon glyphicon-plus' ></span> New</button>
                <input type="file" style="display: none;" name='TransFiles' id="TransFiles" />

                <div style="width: 100%; text-align: right;">
                    <form method="GET" style="display: contents;">
                        <!-- {% csrf_token %} -->
                        {{ search_Form.searchWord }}
                        <button type="submit" style="display: none;">Search</button>
                    </form>
                    <button type='button' class='btn_delete sky_button'>Delete</button>
                </div>
            </div>
            <form method="POST" id="corpus_file_table" action="#">
                {% csrf_token %} {% render_table table %}
            </form>

        </div>
        <div class="POSvalidator tab-pane fade" id="div_POS_Validator">
            <!-- <h1>HI POS Validator</h1> -->
            {% csrf_token %}
            <div id="content_user_vocabulary">
                <div class="list_side">
                    <div style="display: flex;position: relative;width: 100%;">
                        <div class="div_corpusfilelist">
                            <input type="radio" id="Unapproved" name="allowed" value=0 checked>
                            <label for="Unapproved">Corpus Files</label>
                        </div>
                    </div>
                    <div id="list_vocabulary"></div>
                </div>
                <div class='content'>
                    <!-- corpus file content table start -->

                    <!-- corpus file content table start -->

                </div>
            </div>
        </div>
    </div>
    <!-- Corpus file end area -->

    <!-- Corpus validator start area -->

    <!-- Corpus validator end area -->
</div>



<template id="div_POSfiletable_form">
    <div style="display: flex;">
        <div>
            <button type='button' class='btn_new sky_button'><span class='glyphicon glyphicon-plus'></span> New</button>
            <input type="file" style="display: none;" name='TransFiles' id="TransFiles"/>
        </div>
        <div style="width: 100%; text-align: right;">
            <form method="GET" style="display: contents;"> 
                <!-- {% csrf_token %} -->
                {{ search_Form.searchname }}
                <button type="submit" style="display: none;">Search</button>
            </form>
            <button type='button' class='btn_delete sky_button'>Delete</button></div>
    </div>
    <form method="POST" id="corpus_file_table" action="#">
        {% csrf_token %}
        {% render_table table %}
    </form>
</template>

<!-- new corpus file templete start -->
<template id="posfile_new">
    <form method="POST" action="/upload_POSTaggedFile/" enctype="multipart/form-data" id="posfile_upload_form" name = "posfile_upload_form">
        <div style='margin-top:18px'>New Translation Memory</div>
        <hr>
        {% csrf_token %}
        <input type="hidden" id="user" name="user" value="{{request.user}}"/>
        <table>
            <tr><td>Bilingual Corpus File: </td><td class='file_url'></td></tr>
            <tr><td>Name: </td><td class='name'></td></tr>
            <tr><td>Source Language: </td><td class='s_lang'></td></tr>
            <tr><td>Target Language: </td><td class='t_lang'></td></tr>
            <tr><td>Note: </td><td class="note"></td></tr>
            <tr><td></td><td style="text-align: center;">
                <button type="button" class="btn_uploadTm_back sky_button" >Back</button>
                <button type="submit" class="sky_button">Submit</button>
            </td></tr>
        </table>
    </form>
</template>
<!-- new corpus file templete end -->
{% endblock content %}
<!-- =============================== -->
