{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SkyDict</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  -->
  <link rel="stylesheet" type="text/css" href="{% static 'translator/bootstrap.min.css' %}">
  <script src="{% static 'translator/jquery.min.js' %}"></script>
  <script src="{% static 'translator/bootstrap.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'translator/translator.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}">
  <script src="{% static 'translator/translator.js' %}"></script>

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid container">
    <a class="navbar-brand" href="/translator">SkyDict</a>
    <span class="header_menu_separator"></span>
    <div class="navbar-nav navbar-item">
        <div class = "nav-left navbar-item">
            <a href="#">Translator</a>
        </div>
        <div class="nav-right navbar-item">
            {% if not request.user.is_authenticated %}
            <a id="menu_login" href="#"><span class="glyphicon glyphicon-user"></span> Login </a>
            {% else %}
            <ul class="nav navbar-left">
                <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="glyphicon glyphicon-user"></span> {{request.user.username}}</a>
                    <ul class="dropdown-menu">
                        <li class='main_menu'><a href="#" id='menu_logout'>Logout</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
            <a id="menu_any" href="#"><span class="glyphicon glyphicon-menu-hamburger"></a>
        </div>
    </div>
  </div>
</nav>
<div class="container">
<!-- ============================== Translator ============================== -->
    <div id='ET_translator' class='ET ET--empty_source sky_top_element--wide ET--web'>
        <div class='sides_container'>
            <div class='side_container side_container--source'>
              <div class='language_container'>
                  <div class='language_select language_select--source dropdown'>
                      <button class="btn btn-default dropdown-toggle" id="btn_source" data-toggle="dropdown">
                          <span class="language_select__active__title"><span class="translate_from">Translate from </span><strong>English</strong> <span class="caret"></span></span>
                          <div class='language_select__opener'></div>
                      </button>
                      <ul class='dropdown-menu' id='source_menu' role="menu">
                        <li role="sourceLang"><a role="menuitem" tabindex="-1" href="#">English</a></li>
                        <li role="sourceLang"><a role="menuitem" tabindex="-1" href="#">Thai</a></li>
                      </ul>
                  </div>
                </div>
                <div class='textarea_container'>
                  <div class='inner_textarea_container'>
                        <textarea class='textarea source_textarea textarea_base_style' id="ta_source" placeholder="Type, paste text, &#13;&#10; or drop document here"></textarea>
                      <!-- <span class='visible_desktop_only'><span class='textarea_placeholder_text'>Type, paste text, <br>or drop document here.<span class="sky_addition"><br>(English, Thai)</span></span></span> -->
                              <!-- ==== docTrans: UploadButton === -->
                        <div class='docTrans_translator_upload_button'>
                            <form class="source_textarea_bottom">
                                <div class='docTrans_translator_upload_button__inner'>
                                    <button type='button' class="btn docTrans_translator_upload_button__inner_button">
                                        <span class="glyphicon glyphicon-book"></span>
                                        Translate document</button>
                                    <input type="file" name='docTrans' id="docTrans" accept=".pptx,.docx"/>
                                </div>
                                <div id='docTrans_char_count'>0/5000</div>
                            </form>
                        </div>
                        <div class='docTrans__help_popup'>
                            <div class="docTrans__help_popup__icons">
                                <img src='../static/icons/icon_docx_v2.svg' alt='Icon for docx file format' />
                                <span class="docTrans__help_popup__icons__sep">&amp;</span>
                                <img src='../static/icons/icon_pptx_v2.svg' alt='Icon for pptx file format' />
                            </div>
                            <div class="docTrans__help_popup__desc">
                                <p class='dl_visible_free_only'>Translate your Word (.docx) and PowerPoint (.pptx) files with SkyDict Translator.</p>
                            </div>
                        </div>
                  </div>
                  <button type='button' class='clear_text_button clear_text_source'><span>&times;</span></button>
                </div>
            </div>
            
            <div class='textarea_separator textarea_separator--left'>
                <div class='textarea_separator__vertical_line'></div>
                <div class='textarea_separator__arrow'></div>
                <div class='textarea_separator__border_inner'></div>
                <div class='textarea_separator__border_outer'></div>
                <div class='textarea_separator__busy'></div>
                <div class='translate_convert' title="Swap language"></div>
            </div>
            <div class='side_container side_container--target'>
                <div class='language_container'>
                <div class='language_select language_select--target dropdown'>
                    <button class="btn btn-default dropdown-toggle" id="btn_target" data-toggle="dropdown">
                        <span class="language_select__active__title"><span class="translate_into">Translate into </span><strong>Thai</strong> <span class="caret"></span></span>
                        <div class='language_select__opener'></div>
                    </button>
                    <ul class='dropdown-menu' id='target_menu' role="menu">
                    <li role="targetLang"><a role="menuitem" tabindex="-1" href="#">Thai</a></li>
                    <li role="targetLang"><a role="menuitem" tabindex="-1" href="#">English</a></li>
                    </ul>
                </div> 
                </div>
                <div dl-attr='content: translator.targetAreaAdditions'></div>
                <div class='textarea_container'>
                    <div class='inner_textarea_container'>
                        <textarea class='textarea target_textarea textarea_base_style' id="ta_target"></textarea>
                    </div>
                    <div class='translations_as_text'></div>
                </div>
                <div class='target_toolbar'>
                    <div class='target_toolbar__save' title="Save as text file">
                        <button dl-attr='onClick: $0.doSave'  tabindex="130">
                            <svg width="20" height="22" viewBox="0 0 11 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.2666 0V15.472"  stroke-miterlimit="10"/>
                                <path d="M9.98861 10.8364L5.26579 15.5376L0.542969 10.8364" stroke-miterlimit="10"/>
                            </svg>
                        </button>
                    </div>
                    <div class='target_toolbar__share' title="Share translation">
                        <button dl-attr='onClick: $0.doToggleMenu'  tabindex="130">
                        <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.14738 14.7213C6.00913 14.7213 7.51839 13.2115 7.51839 11.3492C7.51839 9.48679 6.00913 7.97705 4.14738 7.97705C2.28562 7.97705 0.776367 9.48679 0.776367 11.3492C0.776367 13.2115 2.28562 14.7213 4.14738 14.7213Z" stroke-miterlimit="10"/>
                            <path d="M15.3066 7.74421C17.1683 7.74421 18.6776 6.23447 18.6776 4.3721C18.6776 2.50974 17.1683 1 15.3066 1C13.4448 1 11.9355 2.50974 11.9355 4.3721C11.9355 6.23447 13.4448 7.74421 15.3066 7.74421Z" stroke-miterlimit="10"/>
                            <path d="M15.0741 21.0001C16.9359 21.0001 18.4451 19.4903 18.4451 17.628C18.4451 15.7656 16.9359 14.2559 15.0741 14.2559C13.2124 14.2559 11.7031 15.7656 11.7031 17.628C11.7031 19.4903 13.2124 21.0001 15.0741 21.0001Z" stroke-miterlimit="10"/>
                            <path d="M7.16992 9.18611L12.1218 6.06982" stroke-miterlimit="10"/>
                            <path d="M12.1218 16.3956L7.16992 13.2793" stroke-miterlimit="10"/>
                        </svg>
                        </button>
                    </div>
                    <div class='target_toolbar__copy' title="Copy to clipboard">
                        <button dl-attr='onClick: $0.doCopy' tabindex="130">
                            <svg width="20" height="22" viewBox="0 0 20 22">
                                <path d="M16.2949 15.7893H8.59364C7.36747 15.7893 6.37793 14.7947 6.37793 13.5623V3.22705C6.37793 1.9946 7.36747 1 8.59364 1H16.3164C17.5425 1 18.5321 1.9946 18.5321 3.22705V13.5839C18.5106 14.7947 17.521 15.7893 16.2949 15.7893Z" fill="white" stroke-miterlimit="10"/>
                                <path d="M11.1966 20.9997H3.34478C2.05408 20.9997 1 19.9402 1 18.6429V7.35629C1 6.05898 2.05408 4.99951 3.34478 4.99951H11.1966C12.4873 4.99951 13.5414 6.05898 13.5414 7.35629V18.6645C13.5414 19.9402 12.4873 20.9997 11.1966 20.9997Z" fill="white" stroke-miterlimit="10"/>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- ================ -->
    <div class="textarea_container dict_area">
        <div id="translator_dict"></div>
        <!-- <button type='button' class='clear_text_button clear_dict_text'><span>×</span></button> -->
    </div>
</div>

<!-- =============================== -->
<template id='dlMainPopup' name='dlMainPopup'>
    <div class = "PopupMenu">
        <div class="menu_overlay"></div>
        <div id="menu" class="menu" dl-test="menu-site">
            <button type="button" class="close menu_close">&times;</button>
            <div class="menu__main_section">
                <!-- <div class="login_info"><span class="glyphicon glyphicon-user"></span> <span id="login_user">Unknown User</span></div> -->
                <nav>
                    <a class="sky_header_menu__nav_link sky_header_menu__nav_link--translator" href="/translator" tabindex="10">Translator</a>
                    <a class="sky_header_menu__nav_link sky_header_menu__nav_link--about" href="/about" tabindex="10">About</a>
                    <hr>
                    <a class="sky_header_menu__nav_link" tabindex="10" href="/pro.html#pricing">Plans and pricing</a>
                    <a class="sky_header_menu__nav_link" tabindex="10" href="/pro-faq.html">Frequently asked questions</a>
                    <a class="sky_header_menu__nav_link" tabindex="10" href="/docs-api.html">API technical documentation</a>
                </nav>
            </div>
            <div class="menu__footer_section">
                {% if not request.user.is_authenticated %}
                <a class="sky_header_menu__nav_link menu__login" href="#">Login</a>
                {% else %}
                <a class="sky_header_menu__nav_link" href="#" id='menu_logout'>Logout</a>
                {% endif %}
                <a class="sky_header_menu__nav_link menu__signup menu_signup_link" href="#">Sign up</a>
            </div>
        </div>
    </div>
</template>
<template id="login_MainSection">
    <div class="PopupMenu">
        <div class="menu_overlay"></div>
        <div id="menu" class="menu" dl-test="menu-site">
            <button type="button" class="close menu_close">&times;</button>
            <div class="menu__main_section" >
                <div class="menu__login__banner">SkyDict <br> Login</div>                
                <form class="menu__login__form" method='POST' onsubmit="event.preventDefault(); return false;" novalidate='novalidate'>
                    {% csrf_token %}
                    <div class="text_input menu__login__form__email">
                        <input name='username' type='email' dl-attr='value: $0.data_login'
                            autocomplete="username email" tabindex="10" autofocus="autofocus"
                            spellcheck="false" id='login_email' required>
                            <label>Username</label>
                    </div>
                    <div class="text_input menu__login__form__pass">
                        <input name='password' type='password' autocomplete="current-password" dl-attr='value: $0.data_password'
                            tabindex="10" id='login_password' required>
                        <label>Password</label>
                        <button type="button" class="menu__login__form__pass__forgot" tabindex="10" >Forgot your password?</button>
                    </div>
                    <button class="menu__login__form__submit sky_button" tabindex="10"
                        >Log in</button>
                    <!-- <div class="menu__login__form__rememberme">
                        <label for="login_rememberme">
                            <input type="checkbox" name="login_rememberme" id="login_rememberme" dl-attr='value: $0.data_keepLogin' tabindex="10">
                            <span class="sky_form__checkbox"></span>
                            <span class="menu__login__form__rememberme__title">
                                Remember me                    </span>
                        </label>
                    </div> -->
                </form>
                <div class='menu__error' id = "menu__error"></div>
            </div>
            <div class="menu__footer_section">
                <div class="menu__login__signup_text">No account yet?</div>
                <a class="menu__login__signup_link sky_link sky_link--small sky_link--more menu_signup_link" href="#">Sign up for SkyDict</a>
            </div>
        </div>
    </div>
</template>
<!-- =============================== -->
<template id="sign_MainSection">
    <div class="PopupMenu">
        <div class="menu_overlay"></div>
        <div id="menu" class="menu" dl-test="menu-site">
            <button type="button" class="close menu_close">&times;</button>
            <div class="menu__main_section" >
                {% if not request.user.is_authenticated %}
                <a class="sky_header_menu__nav_link menu__login" href="#">Back into Login</a>
                {% endif %}
                <div class="menu__login__banner">SkyDict <br> SignUp</div>
                <form class="menu__sign__form" method='POST' onsubmit="event.preventDefault(); return false;" novalidate='novalidate'>
                    {% csrf_token %}
                    <div class="text_input menu__login__form__signname">
                        <input class="" name='sign_username' type='text'
                            tabindex="10" autofocus="autofocus" spellcheck="false" id='sign_username' required>
                        <label>Username</label>
                    </div>
                    <div class="text_input menu__login__form__name">
                        <input class="" name='firstname' type='text'
                            tabindex="10" spellcheck="false" id='firstname' >
                        <label>First name</label>
                    </div>
                    <div class="text_input menu__login__form__name">
                        <input class="" name='lastname' type='text'
                            tabindex="10" spellcheck="false" id='lastname'>
                        <Label>Last name</Label>
                    </div>
                    <div class="text_input menu__sign__form__email">
                        <input class="" name='sign_email' type='email'
                            autocomplete="email" tabindex="10" spellcheck="false"
                            id='sign_email' required>
                        <label>Email address</label>
                    </div>
                    <div class="text_input menu__login__form__pass">
                        <input name='sign_password' type='password' dl-attr='value: $0.data_password'
                           tabindex="10" id='sign_password' required>
                        <label>Password</label>
                    </div>
                    <div class="text_input menu__login__form__pass">
                        <input name='sign_confirm' type='password' dl-attr='value: $0.data_password'
                            tabindex="10" id='sign_confirm' required>
                        <label>Password Confirm</label>
                    </div>
                    <button class="menu__sign__form__submit sky_button" tabindex="10">Sign Up</button>
                    <!-- <div class="menu__sign__form__rememberme">
                        <label for="login_rememberme">
                            <input type="checkbox" name="sign_rememberme" id="sign_rememberme" tabindex="10">
                            <span class="sky_form__checkbox"></span>
                            <span class="menu__sign__form__rememberme__title"> Remember me </span>
                        </label>
                    </div> -->
                </form>
                <div class='menu__error' id="menu__error"></div>
            </div>
            <!-- <div class="menu__footer_section"></div> -->
        </div>
    </div>
</template>
<!-- =============================== -->
<template id='ForgotPasswordSection'>
    <div class="PopupMenu">
        <div class="menu_overlay"></div>
        <div id="menu" class="menu" dl-test="menu-site">
            <button type="button" class="close menu_close">&times;</button>
            <div class="menu__main_section" >
                <a class="sky_header_menu__nav_link menu__login" href="#">Back into Login</a>
                <div class="menu__login__banner">Password <br> reset</div>
                <form class="menu__reset__form" method='POST' onsubmit="event.preventDefault(); return false;" novalidate='novalidate'>
                    <div class="text_input menu__login__form__email">
                        <input class="" name='reset_email' type='email' autocomplete="username email"
                            tabindex="10" autofocus="autofocus" spellcheck="false"
                            id='reset_email' required>
                        <label>Email address</label>
                    </div>
                    <button class="menu__reset__form__submit sky_button">Reset password</button>
                </form>
                <div class='menu__error'  id="menu__error"></div>
            </div>
            <div class="menu__footer_section">
                <div class="menu__login__signup_text">No account yet?</div>
                <a class="menu__login__signup_link sky_link sky_link--small sky_link--more menu_signup_link" href="#">Sign up for SkyDict</a>
            </div>
        </div>
    </div>
</template>
<!-- =============================== -->
</body>
</html>