.content, .language_bar, .list_side{
    width:100%;
    background-color: white;
    text-align:left;
}
.content {
    padding-top:1%;
    height: calc(100vh - 155px);
    overflow: auto;
}
.content div{
    padding: 1% 2% 0 2%;
}
.content #part{
    padding: 0;
    margin: -1px 2%;
    display: flex;
    border: 1px solid #0F2B46;
    border-radius: 10px;
}
.content ul{
    list-style-type: none;
    margin: 0;
}
.content .frame{
    position: relative;
    margin: 24px 0;    
    padding: 10px 15px;
    border: 1px solid #666;
    border-radius: 5px;
}
.content .frame .frm_label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 15px 0 15px;
    line-height: 1;
    font-size: 1em;
    transition: 0.2s;
    transform: translate(3px, -50%) scale(0.8);
    color: #004c03;
    opacity: 1;
    background-color: white;
}
.content .word_type{
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 2% 0;
}
.content .word_type ul{
    width: max-content;
}
textarea{
    width:100%;
}
.content input[type=text] {
    /* width : auto; */
    padding: 5px 3px;
    /* margin:0 10px; */
}
.content #btn_vtype {
    padding: 3px 5px 3px 5px;
    margin: 0 5px;
    background-color:white;
    border: 1px solid;
    border-radius: 5px 5px 0 0;
    border-style: solid solid none solid;
    display: inline-block;
}
.content .txtlabel{
    font-size: smaller;
    font-style: italic;
}
.list_side{
    max-width: 260px;
    padding: 1%;
    height: calc(100vh - 155px);
}
#list_lexitron {
    width: 300px;
    height: calc(100vh - 155px);
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    background-color: white;
    text-align: left;
}
#list_lexitron ul{
    padding-top: 6px;
    border: 1px solid lightgray;
    border-style: none none solid;
    margin: 0px;
}
#list_lexitron ul:hover{
    background-color: #eee;
}
.div_lexitron {
    width: 50%; 
    text-align: center;
    border: 1px solid;
    border-radius: 5px 5px 0 0;
    background: white;
    border-style: none none solid none;
    /* background-image: url(/static/icons/tab.png); */
    background-size: 100% 100%;
}
#view_word {
    font-size: x-large;
    font-style: oblique;
    font-weight: 600;
}
.glyphicon{
    margin-left: 10px;
    border-radius: 24px;
    background: none;
}
.btn_new, .btn_save {
    margin: 0;
    margin-left: 3em;
    padding: 0.25em 0.75em;
    min-width: 100px;
}
select{
    width: 100px;
    margin: 0 20px;
}
.content .form_vocabulary{
    display:flex;
    padding: 0;
}
.form_vocabulary div{
    width: 96%;
}
.frame .close {
    font-size: inherit;
}
#part input[type=checkbox]{
    display: none;
}
#part label:before{
    content: "\f055";
    font-family: 'FontAwesome';
}
#part label{
    cursor: pointer;
}
#part label:hover{
    background-color: darkslategray;
    color: white;
}
#user_vocabulary{
    font-style: italic;
    padding: 0 15px;
    background-color: darkslategray;
    color: white;
    border-radius: 20px;
}
@media (max-width: 767px) {
    .list_side {
        max-height: 200px;
        max-width: 100%;
        font-size: small;
    }
    #list_lexitron{
        max-height: 100px;
    }
    .content ul {
        padding: 0;
        font-size: small;
    }
    .content div {
        font-size: small;
    }
    .form_vocabulary{
        display:block;
    }
}