.DictSearch {
    border-radius: 50px;
    border: 1px solid #d2d2d2;
    background: #fff;
    position: relative;
    /* margin: 0 10px; */
    box-sizing: border-box;
    max-width: 500px;
}
.DictSearch>input{
    font-size: x-large;
    padding: 5px 0px;
    margin: 0 90px 0 20px;
    border: 0;
    line-height: 38px;
}
.DictSearch>button {
    background-color: #3f556b !important;
    color: white;
    border: 0;
    width: 44px;
    position: absolute;
    top: -1px;
    bottom: -1px;
    height: auto;
    cursor: pointer;
}
.btn_search {
    right: 0;
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.btn_search::before {
    width: 1em;
    border-radius: 1em;
    transform: translate(-50%,-50%);
    border: 2px solid;
}
.btn_search::after {
    width: 2px;
    transform-origin: 0 0;
    transform: rotate(-45deg) translate(-0.5px,0.5em);
    background-color: white;
}
.btn_search::before, .btn_search::after {
    content: "";
    height: 1em;
    display: block;
    position: absolute;
    top: 45%;
    left: 40%;
}
.btn_sound{
    right:44px;
}
.btn_sound span{
    position: absolute;
    right: 10px;
    top: 13px;
    background-repeat: no-repeat;
    height: 24px!important;
    width: 24px!important;
    background-position: 0px -360px;
    color: white;
    background-image: -webkit-image-set(url(../icons/1x_mobile.png) 1x,url(../icons/2x_mobile.png) 2x);
}
#translator_dict,#translator_sentences {
    padding: 0px 32px 1px 24px;
    /* margin:3px; */
    width:100%;
    background: white;
}
.dictionary_dict_area {
    display: none;
}
.dictionary_dict_area ul {
    list-style-type: none;
    padding: 0%;
    border: 1px solid #ddd;
    background-color: aliceblue;
    display: flex;
}
.dictionary_dict_area ul li{
    width: 50%;
    padding: 1%;
}
#more_sentences, #few_sentences {
    /* display: none; */
    background-repeat: no-repeat;
    padding-left: 5%;
    color: aliceblue;
    width: 100%;
    background-image: -webkit-image-set(url(../icons/1x_mobile.png) 1x,url(../icons/2x_mobile.png) 2x);
    background-color: #d2d2d2;
    border: 1px solid #d2d2d2;
    transition: background-color 0.15s ease-out, color 0.15s ease-out, color 0.15s ease-out, color 0.15s ease-out, border 0.15s ease-out, color 0.15s ease-out;
}
#more_sentences:hover {
    background-color: cadetblue;
}
.sentence_area{
    position: relative;
}
.sentence_more{
    display: none;
    position: relative;
}
#more_sentences {
    background-position: 10px -217px;
}
#few_sentences {
    background-position: 10px -336px;
}
#more_sentences:hover, #few_sentences:hover {
    background-color: cadetblue;
}
kref {
    color:#990000
}
.dictionary_dict_area{
    width: 100%;
    margin-top: 10px;
}
.add_words, .language_bar, .list_side{
    width:100%;
    background-color: white;
    text-align:left;
}
.add_words {
    max-width: 800px;
    padding-top:1%;
    /* height: fit-content; */
    min-height: calc(100vh - 155px);
}
#content_user_vocabulary .add_words{
    max-width: 100%;
    max-height: calc(100vh - 155px);
    overflow: auto;
}
.add_words div{
    padding: 2% 2% 0 2%;
}
.add_words #clear{
    padding: 0;
    margin: -1px 2%;
    display: flex;
    border: 1px solid #0F2B46;
    border-radius: 10px;
}
.add_words ul{
    list-style-type: none;
    margin: 0;
}
.add_words .frame{
    position: relative;
    margin: 24px 0;    
    padding: 10px 15px;
    border: 2px solid #666;
    border-radius: 5px;
}
.add_words .frame .frm_label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 15px 0 15px;
    line-height: 1;
    font-size: 1em;
    transition: 0.2s;
    transform: translate(3px, -50%) scale(0.8);
    color: #004c03;
    opacity: 1;
    background-color: white;
}
.add_words .word_type{
    width: -webkit-fill-available;
    width: -moz-available;
    padding: 2% 0;
}
textarea{
    width:100%;
}
.add_words input[type=text] {
    width : auto;
    padding: 0 3px;
    margin:0 10px;
}
.add_words #btn_vtype {
    padding: 5px 1em 5px 1em;
    margin: 0;
    background-image: url(../icons/bt-word-type.png) !important;
    background-position: center bottom;
    background-size: 100% 200% !important;
    /* color:white; */
    display: inline-block;
}
.add_words .txtlabel{
    font-size: smaller;
    font-style: italic;
}
.list_side{
    max-width: 235px;
    padding: 1%;
    height: calc(100vh - 155px);
} 
.list_side label {
    font-weight: 100;
}
#list_vocabulary{
    padding: 0;
    padding-top: 10px;
    border: 1px solid #0F2B46;
    height: 97%;
    overflow: auto;
    margin: -1px 0;
}
#list_vocabulary ul{
    padding-top: 6px;
    border: 1px solid lightgray;
    border-style: none none solid;
    margin: 0;
    li
}
#list_vocabulary ul:hover{
    background-color: #eee;
}
.div_unapproved, .div_approved {
    width: 50%; 
    text-align: center;
    border: 1px solid;
    border-radius: 5px 5px 0 0;
    background: white;
}
.div_unapproved {
    border-style: solid solid none solid;
}
.div_approved {
    border-style: none none solid none;
}
#view_word {
    font-size: x-large;
    font-style: oblique;
    font-weight: 600;
}
#content_user_vocabulary{ 
    visibility: hidden;
    display: flex;
    height: 0;
    position: fixed;
}
.glyphicon{
    margin-left: 10px;
    border-radius: 24px;
    background: none;
}
.btn_save, .btn_approve, .btn_delete {
    margin: 0;
    margin-left: 3em;
    padding: 0.25em 0.75em;
    min-width: 100px;
}
.modal-dialog-centered {
    /* top:auto; */
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: calc(100% - (1.75rem * 2));
}

select{
    width: 100px;
    margin: 0 20px;
}
.form_vocabulary{
    display:flex;
}
#Unapproved, #Approved{
    display: none;
}
@media (max-width: 767px) {
    #content_user_vocabulary {
        display: block;
    }
    .list_side {
        max-height: 200px;
        max-width: 100%;
        font-size: small;
    }
    #list_vocabulary{
        max-height: 100px;
    }
    #content_user_vocabulary .add_words {
        max-height: 100%;
    }
    .add_words ul {
        padding: 0;
        font-size: small;
    }
    .add_words div {
        font-size: small;
    }
    .form_vocabulary{
        display:block;
    }
}
@media (max-width: 400px) {
    .DictSearch>Button{
        width: 35px;
    }
    .DictSearch>Button.btn_sound{
        right: 35px;
    }
    .DictSearch>Button.btn_sound>span{
        right: 4px;
    }
    .DictSearch>input{
        margin: 0 70px 0 20px;
    }
}