.btn_search {
    right: 0;
    border-radius: 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.btn_search::before, .btn_search_form::before {
    width: 1em;
    border-radius: 1em;
    transform: translate(-50%,-50%);
    border: 2px solid;
}
.btn_search::after, .btn_search_form::after {
    width: 2px;
    transform-origin: 0 0;
    transform: rotate(-45deg) translate(-0.5px,0.5em);
    background-color: white;
}
.btn_search::before, .btn_search::after  {
    content: "";
    height: 1em;
    display: block;
    position: absolute;
    top: 45%;
    left: 40%;
}
.btn_search_form::before , .btn_search_form::after {
    content: "";
    height: 1em;
    display: block;
    position: absolute;
    top: 45%;
    left: 10%;
}
.btn_search_form::after{
    background-color: black;
}
.btn_search_form, .btn_memories_form{
    height: 50px;
}
.dict_area .sky_button{
    margin: 10px 0 10px 0;
    width: 160px;
    padding: 0 10px 0 10px;
    background:-webkit-linear-gradient(#E0E0E0, #FFF, #E0E0E0) !important;
    color: black;
}
.btn_new, .btn_delete{
    width: 80px !important;
}
.dict_area, .form_vocabulary{
    display: flex;
    padding: 10px;
}
.submenu{
    max-width: 210px;
}
#div_content{
    width: 100%;
    overflow: auto;
    text-align: -webkit-center;
}
div.table-container{
    width: 100%;
    height: calc(100vh - 230px);
}
#div_content input[type=text]{
    padding: 0px 10px;
}
td, th{
    padding:10px;
}
table.paleblue td, table.paleblue th {
    text-align: center;
}

.input-group-btn-vertical > .btn:first-child {
    border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px;
}
.input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0;
}
.input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}
.input-group .form-control{
    border: 1px solid #ccc;
}
.spinner {
    width: 100px;
}
.input-group-btn-vertical i {
    position: absolute;
    top: -3px;
    left: 3px;
}
#id_searchTM{
    width: auto;
}
.modal label{
    font-size: 1em;
    font-weight: normal;
}
#tm_upload_form hr{
    margin: 0;
}