{% extends 'dictionary/index.html' %}
<!-- ============================== Dictionary ============================== -->
{% block content %}
<div class='DictSearch'>
    <!-- <form action="" method="post"> -->
        {% csrf_token %}
        {{ form }}
        <button type='button' class='btn_search'></button>
    <!-- </form> -->
    <div id="wordDict_help_popup"></div>
</div>
<div class="dict_area">
    <dic class="dictionary_dict_area">
        <div id="translator_dict"></div>
        <div id="translator_sentences"></div>
    </dic>
    <!-- <button type='button' class='clear_text_button clear_dict_text'><span>×</span></button> -->
</div>
{% endblock content %}
<!-- =============================== -->