{% extends 'dictionary/index.html' %}
<!-- ============================== Dictionary ============================== -->
{% block content %}
{% csrf_token %}
<div class='DictSearch'>
    <!-- <form action="" method="post"> -->
        {{ search_input_form }}
        <button type='button' class='btn_sound'><span></span></button>
        <button type='button' class='btn_search'></button>
    <!-- </form> -->
    <div id="wordDict_help_popup"></div>
</div>
<div id="dict_menu_bar">
    <a href="#" id="view_dict_area">Dictionary</a>
    {% if not request.user.is_authenticated %}
    <a class="menu__login" href="#">Add Words</a>
    {% else %}
    <a href="/user_words/index" id="view_add_word">Add Words</a>
    {% endif %}
    {% if request.user.is_staff %}
    <a href="/user_words/dict" id="view_user_dict">User Dictionary</a>
    {% endif %}
</div>
<div class="dict_area">
    <dic class="dictionary_dict_area">
        <div id="translator_dict"></div>
        <div class="sentence_area">
            <div id="translator_sentences"></div>
        </div>
    </dic>
</div>
{% endblock content %}
<!-- =============================== -->