{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "common/header.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'dictionary/dictionary.css' %}">
</head>
<body>
{% include "common/menu.html" %}
<div class="container">
{% block content %}
<p>Placeholder text in base template. Replace with page content.</p>
{% endblock content %}
{% include "common/popup_template.html" %}
</div>
</body>
</html>
{% include "common/footer.html" %}
<script src="{% static 'dictionary/dictionary.js' %}"></script>