{% extends 'Concondance/index.html' %}
<!-- ============================== Dictionary ============================== -->
{% load django_tables2 %}
{% block content %}
{% csrf_token %}

<script type="text/javascript"> 
    var suburl = "transMemories";
</script>
<div class='DictSearch'>
    <!-- <form action="" method="post"> -->
        {{ search_input_form }}
        <button type='button' class='btn_search'></button>
    <!-- </form> -->
    <div id="wordDict_help_popup"></div>
</div>
<div id="dict_menu_bar">
    <a href="/dictionary/" id="view_dict_area">Dictionary</a>
    {% if not request.user.is_authenticated %}
    <a class="menu__login" href="#">Add Words</a>
    {% else %}
    <a href="/user_words/index" id="view_add_word">Add Words</a>
    <a href="#" style="color: black;">Concondance Search</a>
    {% endif %}
    {% if request.user.is_staff %}
    <a href="/user_words/dict" id="view_user_dict">User Dictionary</a>
    {% endif %}
</div>
<div class="dict_area">
    <div class="submenu">
        <button type='button' class='btn_search_form sky_button'>Search</button>
        <button type='button' class='btn_memories_form sky_button'>Translation Memories</button>
    </div>
    <div id="div_content"></div>
</div>
<template id="div_transMemories_form">
    <div style="display: flex;">
        <div>
            <button type='button' class='btn_new sky_button'><span class='glyphicon glyphicon-plus'></span> New</button>
            <input type="file" style="display: none;" name='TransFiles' id="TransFiles"/>
        </div>
        <div style="width: 100%; text-align: right;">
            <form method="get" style="display: contents;"> 
                {{ conForm.searchTM }}
                <button type="submit" style="display: none;">Search</button>
            </form>
            <button type='button' class='btn_delete sky_button'>Delete</button></div>
    </div>
    <form id="tm_list_form" action="#">
        <!-- {% csrf_token %} -->
    {% render_table table %}
    </form>
</template>
<template id="tm_new">
    <form id="tm_upload_form" name = "tm_upload_form">
        <div style="text-align: left;">New Translation Memory</div>
        <hr>
        {% csrf_token %} {{tm_form.user}}
        <table>
            <tr><td>File: </td><td>{{tm_form.file_url}}</td></tr>
            <tr><td>Name: </td><td>{{tm_form.name}}</td></tr>
            <tr><td>Source Language: </td><td>{{tm_form.s_lang}}</td></tr>
            <tr><td>Target Language: </td><td>{{tm_form.t_lang}}</td></tr>
            <tr><td>Subject: </td><td>{{tm_form.subject}}</td></tr>
            <tr><td>Note: </td><td>{{tm_form.note}}</td></tr>
            <tr><td></td><td style="text-align: center;"><button type="submit" class="btn_uploadTm sky_button">Submit</button></td></tr>
        </table>
    </form>
</template>
{% endblock content %}
<!-- =============================== -->